:root {
    --body-bg: #333333;
    --paper: #F3DFC1;
    --cover: #2c3e50;
    --txt-header: #2c3e50;

    --blue: #4267B2;
    --red: #DB4437;
    --yellow: #F4B400;
    --green: #0F9D58;
    --black: #000;
    --grey: #7a7a7b;
}

* {
    font-family: 'Caveat',
        cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--body-bg);
    overflow: hidden;
}

.align-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: unset;
}

.book-wrap {
    height: 45rem;
    width: 66rem;
    border-radius: 1rem;
    padding: 2rem;
    position: relative;
    perspective: 250rem;
    opacity: 0;
    transform: rotate(-20deg);
    animation: show-up 2s forwards;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--cover);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transform-origin: 100% 100%;

    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: rotateY(0);
}

.cover.turn {
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: rotateY(180deg);
}

.cover-left {
    z-index: -1;
}

.book {
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
}

.book-page {
    position: relative;
    width: 50%;
    height: 100%;
    padding: 2rem;
    display: grid;
    background-color: var(--paper);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2),
        0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: rotateY(0);
    transform-origin: 0% 0%;
}

.text-center {
    text-align: center;
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.avt {
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
    margin: auto;
}

.name {
    font-size: 3rem;
}

.social-list i {
    margin: 0 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.social-list i.fb {
    color: var(--blue);
}

.social-list i.ytb {
    color: var(--red);
}

.social-list i.git {
    color: var(--black);
}

.social-list i.fb:hover,
.social-list i.git:hover {
    transform: scale(1.3) rotate(30deg);
}

.social-list i.ytb:hover {
    transform: scale(1.3) rotate(-30deg);
}

.introduce {
    font-size: 1.4rem;
    text-align: justify;
}

.txt-header {
    color: var(--txt-header);
    font-weight: 800;
}

.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
}

.page-right.turn {
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: rotateY(-180deg);
}

.page-front,
.page-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem;
    overflow: hidden;
}

.page-front {
    transform: rotateY(0deg) translateZ(1px);
}

.page-back {
    transform: rotateY(180deg) translateZ(1px);
}

.flex-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.time {
    float: right;
    font-size: 1rem;
}

.wrap-content {
    text-align: left;
    position: relative;
    height: 100%;
}

.page-change {
    position: absolute;
    right: 0;
    bottom: -1rem;
    font-weight: 600;
    color: var(--txt-header);
    cursor: pointer;
    animation: bounce-left 2s ease infinite;
}

.page-change i {
    font-size: 2rem;
}

.page-change.back {
    left: 0;
    right: unset;
}


video {
    border-radius: 1rem;
    outline: transparent;
    border: none;
}

.ytb-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    width: 3.4rem;
    padding: .2rem .7rem;
    background-color: var(--red);
    color: #fff;
    transition: width .2s ease-in-out;
    border-radius: .5rem;
}

.ytb-btn:hover {
    width: 8.5rem;
}

.ytb-btn i {
    font-size: 2rem;
    margin-right: .5rem;
}


/* ANIMATION */

@keyframes bounce-left {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes show-up {
    30% {
        opacity: 0;
        transform: rotate(-20deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0);
    }
}